
td { font-family: Arial, sans-serif; font-size: 10pt; color: #003751}
.box { margin-left: 10px }

a:link {color: #003751}
a:active { color: #b4390e}
a:visited { color: #003751}
a { text-decoration: none }

.bottom_m { font-size: 8pt; color: #697a87 }