/* Generic */

div.float_cleaner {
	clear: both;
	height: 1px;
	line-height: 0px;
	font-size: 1px;
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

/* Page background color */

.page_body {
	background-color: #FFFFFF;
	margin: 0px;
}

/* Navigation bar with zoom/arrow images */

.nav_bar {
	margin: 20px auto;
	width: 130px;
}

.nav_bar.with_zoom {
	width: 210px;
}

.nav_bar a {
	display: block;
}

.nav_bar .nav_box {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_bar div.zoom_in, .nav_bar div.zoom_out {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.nav_bar div.zoom_in {
	background: URL('gallery-misc/zoom_in.gif') no-repeat left top;
}

.nav_bar div.zoom_out {
	background: URL('gallery-misc/zoom_out.gif') no-repeat left top;
}

.nav_bar .arrow_left_regular,  .nav_bar .arrow_left_empty {
	width: 35px;
	height: 20px;
}

.nav_bar a.arrow_left_regular {
	background: URL('gallery-misc/arrow_left.gif') no-repeat left top;
}

.nav_bar .arrow_up_regular, .nav_bar .arrow_up_empty {
	width: 20px;
	height: 25px;
}

.nav_bar a.arrow_up_regular {
	background: URL('') no-repeat left top;
}

.nav_bar .arrow_right_regular, .nav_bar .arrow_right_empty {
	width: 35px;
	height: 20px;
}

.nav_bar a.arrow_right_regular, .nav_bar a.arrow_right_empty {
	background: URL('gallery-misc/arrow_right.gif') no-repeat left top;
}

/* Home link when a popup page is opened as a regular page */

div.home_link {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

div.home_link a {
	color: #00E4F9;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
}

/* Full-size image page */

img.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.full_desc_top, div.full_desc_bottom {
	color: #000000;
}

div.full_desc_top {
	margin: 0px auto 7px auto;
}

div.full_desc_bottom {
	margin: 7px auto 0px auto;
}
