/* Generic */

div.float_cleaner {
	clear: both;
	height: 1px;
	line-height: 0px;
	font-size: 1px;
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

/* Page background color */

.page_body {
	background-color: #FFFFFF;
	overflow: hidden;
}

/* Link at top of all index pages */

div.index_link {
	margin-top: 20px;
	text-align: center;
}

div.index_link a {
	color: blue;
	font-size: 1.5em;
}

/* Navigation bar with zoom/arrow images */

.nav_bar {
	width: 130px;
	margin: 20px auto;
}

.nav_bar a {
	display: block;
}

.nav_bar .nav_box {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_bar .arrow_left_regular,  .nav_bar .arrow_left_empty {
	width: 35px;
	height: 20px;
}

.nav_bar a.arrow_left_regular {
	background: URL('gallery-misc/arrow_left.gif') no-repeat left top;
}

.nav_bar .arrow_up_regular, .nav_bar .arrow_up_empty {
	width: 20px;
	height: 25px;
}

.nav_bar a.arrow_up_regular {
	background: URL('') no-repeat left top;
}

.nav_bar .arrow_right_regular, .nav_bar .arrow_right_empty {
	width: 35px;
	height: 20px;
}

.nav_bar a.arrow_right_regular, .nav_bar a.arrow_right_empty {
	background: URL('gallery-misc/arrow_right.gif') no-repeat left top;
}

/* Thumbnails */

div.gallery_page {
	color: #000000;
	margin-top: 20px;
	margin-left: auto;
margin-right: auto;
}

div.gallery_page div.gallery_row {
	clear: both;
}

div.gallery_page div.gallery_row div {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

div.gallery_page div.gallery_row div.gallery_first {
	margin-left: 0px;
}

div.gallery_page div.gallery_row div img {
	display: block;
	border: 0px;
	vertical-align: top;
}

div.gallery_page div.gallery_row div div {
	float: none;
	margin: 7px 0px 0px 0px;
}

/* Pseudo-popup */

.pseudo_popup {
	position: absolute;
	z-index: 10000;
}

.pseudo_popup .top_left {
	float: left;
	width: 8px;
	height: 22px;
	background-image: url('gallery-misc/popup_top_left.png');
}

.pseudo_popup .top_middle {
	float: left;
	height: 22px;
	background-image: url('gallery-misc/popup_top_middle.png');
	background-repeat: repeat-x;
}

.pseudo_popup .top_right {
	float: left;
	position: relative;
	width: 58px;
	height: 22px;
	background-image: url('gallery-misc/popup_top_right.png');
}

.pseudo_popup .close {
	position: absolute;
	left: 26px;
	top: 3px;
	width: 17px;
	height: 17px;
	background-image: url('gallery-misc/popup_close.png');
}

.pseudo_popup .content {
	clear: both;
	border-left: 1px solid #96BEDF;
	border-right: 1px solid #96BEDF;
	background-color: #DBEFFF;
}

.pseudo_popup .content iframe {
	display: block;
	border: none;
	width: 100%;
	height: 100%;
}

.pseudo_popup .bottom_left {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url('gallery-misc/popup_bottom_left.png');
}

.pseudo_popup .bottom_middle {
	float: left;
	height: 9px;
	border-bottom: 1px solid #96BEDF;
	background-color: #DBEFFF;
}

.pseudo_popup .bottom_right {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url('gallery-misc/popup_bottom_right.png');
}

.pseudo_popup .clear {
	clear: both;
}

.gallery_page span {
	display: block;
	margin-top: 10px;
	text-align: right;
}

.gallery_page span a {
	color: blue;
	text-decoration: none;
}

.gallery_page span a:hover {
	color: red;
}
