.forum
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  margin: 0px 0px;
}

.forum a
{
  text-decoration: none;
}

.forum div.topic
{
  margin-bottom: 20px;
  margin-left: -1.3em;
}

.forum div.message
{
  margin-bottom: 1px;
  margin-top: 1px;
  margin-left: 1.3em;
  margin-right: 0px;
}

.forum .message div.header
{
  display:block;
  /*background-color: #eee;*/
  margin-right: .5em;
  overflow-wrap: break-word;
  word-break: break-word;
}

.forum .message .header
{
  //font-size: .8em;
  font-size: .9em;
  margin-bottom: 4px;
}

.forum .message .header .subject
{
  font-weight: normal;
  font-size: 1.0em; /* small;  */
  margin-left: 3px;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
  display: inline-block;
}

.forum .message .subject
{
}

.forum .message .header .current
{
  font-weight: bold;
}

//.forum .message .header .subject a
//{
//  /* text-decoration: none; */
//}

.forum .message .header .name
{
  font-style: italic;
  font-size: .9em;
}

.forum .message .header .date
{
  font-size: .7em;
  margin-left: .5em;
}

.forum .message .header .reply
{
  font-size: .7em;
  margin-left: .5em;
}

//.forum .message .header .reply a
//{
//  text-decoration: none;
//}

//.forum .message .header .self-link a
//{
//  text-decoration: none;
//}

.forum .message .text
{
  //font-family: Times, "Times New Roman", serif;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 0.9em;
  
  background-color: #f8f8f8; 
  padding: 6px;
  text-align: justify;
  text-indent: 0px; /*1.5em;*/
  //font-size: smaller;
  max-width:700px;
  <!--[if gte IE 5]>
  width: expression(Math.min(parseInt(this.offsetWidth), 700 ) + "px"); 
  <![endif]-->
}

.forum .message .text p
{
  margin-top: 0px; 
  margin-bottom: .8em;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0px;
}

.forum .message img.bullet
{
  vertical-align: text-bottom;
  margin-left: 3px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-top: 0;
  padding: 0px 0px 0px 0px;
  display: inline;
  border: 0px;
}

.forum .message .comment
{
  font-weight: bold;
  margin-left: 15px;
}

.forum .topic-header
{
  margin-bottom: 6px;
  font-size: 1.1em;
}

.forum .topic-header .subject
{
  font-weight: bold;
  margin-left: 3px;
}

.forum .topic-header .name
{
  font-style: italic;
  font-size: 0.8em;
}

.forum .topic-header .date
{
  margin-left: 0.5em;
  font-size: 0.6em;
}

.forum .topic-header .self-link
{
  margin-left: 0.5em;
  font-size: 0.6em;
}

.forum .topic-list-header
{
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.forum .new-topic-header
{
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.forum .pager
{
  margin-left: 0.5em;
  font-weight: bold;
}

//.forum .pager a
//{
//  text-decoration:none;
//}

.forum .reply-form
{
  //margin-left: 1.5em;
  margin-bottom: 1px;
  margin-top: 1px;
  margin-left: 1.3em;
  margin-right: 0px;
  background-color: #f8f8f8; 
  max-width:700px;
  <!--[if gte IE 5]>
  width: expression(Math.min(parseInt(this.offsetWidth), 700 ) + "px"); 
  <![endif]-->
}

.forum .reply-form .fields .label
{
  font-size: smaller;
}

.forum .reply-form .header
{
  font-weight: bold;
}

.forum .links-bar
{
}

.forum .highlight
{
  color: red;
}
