.pagetitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #FFFBF0;
  font-weight: bold;
}
.thumbtitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFBF0;
}
.imagetitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFBF0;
}

