<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404 — страница не найдена — Blues.Ru</title>
<link rel="shortcut icon" href="/images/bluesru.ico">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/responsive.css">
<style>a{text-decoration:none}</style>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#5511CC">
<a href="/"><img src="/images/bluesru-logo.svg" width="120" height="120" border="0" alt="Blues.Ru" style="float:right"></a>
<h1>404 — страница не найдена</h1>
<p>Blues.Ru стал <a href="/arc/">архивом</a>. Некоторые прежние страницы могут быть недоступны.</p>
<p><b>Блюз</b></p>
<ul>
<li><a href="/artist/">Музыканты</a></li>
<li><a href="/atb/">Весь Этот Блюз</a></li>
<li><a href="/photo/">Фото</a></li>
<li><a href="/news/">Новости</a></li>
<li><a href="/calendar/">Календарь</a></li>
<li><a href="/review/">Обзоры</a></li>
</ul>
<p><b>Разделы</b></p>
<ul>
<li><a href="/updates/">Обновления</a></li>
<li><a href="/forum/">Форум</a></li>
<li><a href="/andrey/">Андрей</a></li>
<li><a href="/article/">Статьи</a></li>
<li><a href="/arc/">Архив</a></li>
<li><a href="/links/">Ссылки</a></li>
</ul>
<p><b>Тексты</b></p>
<ul>
<li><a href="/mojobook/">Muddy Waters - книга</a></li>
<li><a href="/book/">Paul Oliver - Blues</a></li>
</ul>
<p><b>blues.ru</b></p>
<ul>
<li><a href="https://www.facebook.com/blues.ru">Facebook - страница</a></li>
<li><a href="https://www.facebook.com/groups/blues.ru">Facebook - группа</a></li>
<li><a href="https://github.com/Blues-Ru/bluesru-arc">GitHub - код сайта</a></li>
</ul>
<hr size="1">
<p align="center">{{ footer | safe }}</p>
</body>
</html>
