<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
<head><title>
	Блюз в России. Форум: Разговоры о блюзе
</title>
<script Language="JavaScript" src="/forum/liveforum.js"></script>
<link rel="stylesheet" type="text/css" href="/forum/liveforum.css" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link rel="shortcut icon" href="/images/bluesru.ico" /><link rel="alternate" type="application/rss+xml" title="Blues.Ru / Форум: разговоры о блюзе" href="/forum/rss" />{{ site_css_tag | safe }}
  {{ ga_snippet | safe }}
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#5511CC" alink="#00BB00">

<table cellpadding="4" cellspacing="0" border="0" align="right">
<tr><td>
  <a href="/"><img src="/images/bluesru100x100.gif" width="100" height="100" border="0" alt="Блюз в России"></a>
</td></tr>
<tr><td width="150">
</td></tr>
</table>

<div class="forum"><div class="topic-list-header"><span class="forum-name"><a href="/forum/">ФОРУМ</a> : Разговоры о блюзе</span><span class="pager">{% if page > 1 %}<a href="/forum/{% if page == 2 %}{% else %}page{{ page - 1 }}.html{% endif %}">&lt;&lt;</a>{% else %}&lt;&lt;{% endif %}
     {{ page }}
  {% if has_next %}<a href="/forum/page{{ page + 1 }}.html">&gt;&gt;</a>{% endif %}</span></div>
{%- for topic in topics %}
{{ render_topic(topic, full=False) }}
{%- endfor %}
<div class="topic-list-footer"><span class="pager">{% if page > 1 %}<a href="/forum/{% if page == 2 %}{% else %}page{{ page - 1 }}.html{% endif %}">&lt;&lt;</a>{% else %}&lt;&lt;{% endif %}
     {{ page }}
  {% if has_next %}<a href="/forum/page{{ page + 1 }}.html">&gt;&gt;</a>{% endif %}</span></div>
</div>

<hr size="1" />

<p align="center">
{{ footer }}
</p>
</body>
</html>
