<!DOCTYPE html>
<html lang="ru">
<head>
<title>Blues.Ru - архив</title>
<meta name="description" content="Largest web site in Russian dedicated to the blues music. Крупнейший русскоязычный сайт о блюзе.">
<meta name="keywords" content="blues; music; photo; mp3; tabs; lyrics; articles; reviews; festival; all that blues; блюз; блюзовый; блюзмен; музыка; статьи; обзоры; фестиваль; весь этот блюз;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/images/bluesru.ico" />
<link rel="stylesheet" href="/static/css/site.css">
<style type="text/css">
a {text-decoration:none}
td.main-content { max-width: 680px; padding: 8px 16px; }
#blues-calendar { font-size: 0.95em; }
.widget-list { font-size: 0.95em; list-style: none; padding: 0; margin: 4px 0; }
.widget-list li { margin-bottom: 0.55em; }
.widget-date { font-size: 0.82em; }
#blues-calendar img { max-width: 180px; max-height: 120px; }
.update-item { margin: 0.6em 0 1.4em 0; font-size: 0.95em; line-height: 1.5; }
.update-date { font-size: 0.82em; color: #4F62B5; }
</style>
  {{ ga_snippet | safe }}
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#5511CC" alink="#00BB00">

<table border="1" cellpadding="4" cellspacing="0">
  <tr>
    <td valign="top" width="220">

<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
  <td align="left">
  <img src="/images/bluesru100x100.gif" align="middle" width="100" height="100"
       alt="Blues.Ru архив" hspace="0" vspace="0">
  </td>
</tr>
<tr>
  <td align="left">
    <big>архив - с 1996</big>
  </td>
</tr>


<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF"><b>Блюз</b></font></td>
</tr>
<tr>
  <td nowrap><big><a href="/artist/">Музыканты</a></big></td>
</tr>
<tr>
  <td nowrap><big><a href="/atb/">Весь этот блюз</a></big></td>
</tr>
<tr>
  <td nowrap><big><a href="/photo/">Фото</a></big></td>
</tr>
<tr>
  <td nowrap><big><a href="/news/">Новости</a></big></td>
</tr>
<tr>
  <td nowrap><big><a href="/calendar/">Календарь</a></big></td>
</tr>
<tr>
  <td nowrap><big><a href="/review/">Обзоры</a></big></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">Тексты</font></td>
</tr>
<tr>
  <td nowrap><a href="/style/">Стили</a></td>
</tr>
<tr>
  <td nowrap><a href="/vocabulary.htm">Словарь блюза</a></td>
</tr>
<tr>
  <td nowrap><a href="/mojobook/">Muddy Waters - The Mojo Man</a></td>
</tr>
<tr>
  <td nowrap><a href="/book/">"Blues" by Paul Oliver</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">Разделы</font></td>
</tr>
<tr>
  <td nowrap><a href="/updates/">Обновления</a></td>
</tr>
<tr>
  <td nowrap><a href="/article/">Статьи</a></td>
</tr>
<tr>
  <td nowrap><a href="/forum/">Форум</a></td>
</tr>
<tr>
  <td nowrap><a href="/andrey/">Андрей Евдокимов</a></td>
</tr>
<tr>
  <td nowrap><a href="/arc/">История архива</a></td>
</tr>
<tr>
  <td nowrap><a href="/links/">Ссылки</a></td>
</tr>
<tr>
  <td nowrap><a href="/club/">Клуб Blues.Ru</a></td>
</tr>
<tr>
  <td nowrap><a href="/handy/">W.C.Handy Award</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">Фестивали</font></td>
</tr>
<tr>
  <td nowrap><a href="/bbkingfest/">Фестивали клуба B.B.King</a></td>
</tr>
<tr>
  <td nowrap><a href="/nbf/">Notodden Blues Festival</a></td>
</tr>
<tr>
  <td nowrap><a href="/bluesnews/Fest01/bluesru01.htm">Blues.Ru-2001 festival</a></td>
</tr>
<tr>
  <td nowrap><a href="/fest/">Очаково-Блюз</a></td>
</tr>
<tr>
  <td nowrap><a href="/efes/">Efes Pilsener Blues Festival</a></td>
</tr>
<tr>
  <td nowrap><a href="/svalbard/2013/">Dark Season Blues, Svalbard 2013</a></td>
</tr>
<tr>
  <td nowrap><a href="/august/">Augustibluus, Haapsalu</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">Архив</font></td>
</tr>
<tr>
  <td nowrap><a href="/atb/archive/">Весь этот блюз 2000</a></td>
</tr>
<tr>
  <td nowrap><a href="/band/">Группы 2000</a></td>
</tr>
<tr>
  <td nowrap><a href="/bluesnews/">Новости 2003</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">У нас</font></td>
</tr>
<tr>
  <td nowrap><a href="/zappazuhoi/">Заппазухой - FRANK ZAPPA</a></td>
</tr>
<tr>
  <td nowrap><a href="/beefheart/">РОСтБИФ - Captain Beefheart</a></td>
</tr>
<tr>
  <td nowrap><a href="/ethnotrip/">The Ethno Trip</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">Сайты</font></td>
</tr>
<tr>
  <td nowrap><a href="https://www.facebook.com/blues.ru">Blues.Ru на Facebook</a></td>
</tr>
<tr>
  <td nowrap><a href="http://www.liveband.ru/">LiveBand.Ru</a></td>
</tr>
<tr>
  <td nowrap><a href="https://blackcat.blues.ru">Mean Black Cat Blues</a></td>
</tr>
<tr>
  <td nowrap><a href="http://harmonica.ru/">harmonica.ru</a></td>
</tr>
<tr>
  <td nowrap><a href="http://www.bluesnews.ru">BluesNews.Ru</a></td>
</tr>
<tr>
  <td nowrap><a href="http://ru-blues.livejournal.com/">ЖЖ - ru_blues</a></td>
</tr>
<tr>
  <td nowrap><a href="http://www.rusblues.ru">Русский блюз</a></td>
</tr>

<tr>
  <td bgcolor="#003D84" nowrap><font color="#FFFFFF">О blues.ru</font></td>
</tr>
<tr>
  <td nowrap><a href="about.htm">О сайте</a></td>
</tr>
<tr>
  <td align="left">
    <b>&copy; 1996-2026</b><br>
    Андрей Евдокимов<br>
    Федор Романенко<br>
    <img src="/images/envelope.png" style="height:1cap;vertical-align:middle;margin-right:3px"><span class="contact-email-plain"></span>
  </td>
</tr>

</table>

    </td>
    <td valign="top" class="main-content">

<a name="calendar"></a>
<a href="/calendar/#{{ today }}"><b>В этот день... (блюзовый календарь)</b> &gt;&gt;</a>
<p>
<div id="blues-calendar" data-mode="short"><i>загрузка...</i></div>

<hr size="1">

<a name="blues-news"></a>
<a href="/news/"><b>Новости</b> &gt;&gt;</a>
{% if blues_news %}
<ul class="widget-list">
{% for item in blues_news %}
<li><span class="widget-date"><font color="#4F62B5">{{ item.date }}</font></span>&ensp;<a href="{{ item.url }}">{{ item.title | e }}</a></li>
{% endfor %}
</ul>
{% endif %}

<hr size="1">

<a name="atb"></a>
<a href="/atb/"><b>Весь Этот Блюз</b> &gt;&gt;</a>
{% if latest_atb %}
<ul class="widget-list">
{% for ep in latest_atb %}
<li><span class="widget-date"><font color="#4F62B5">{{ ep.date }}</font></span>&ensp;<a href="{{ ep.url }}">{{ ep.summary | e }}</a></li>
{% endfor %}
</ul>
{% endif %}

<hr size="1">

<a name="news"></a>
<a href="/updates/"><b>Обновления Blues.Ru</b> &gt;&gt;</a>
{% if latest_updates %}
{% for item in latest_updates %}
<div class="update-item"><span class="update-date">{{ item.date }}</span>&ensp;{{ item.html | safe }}</div>
{% endfor %}
{% endif %}

<hr size="1">
<p>Сайт <a href="https://blackcat.blues.ru"><b>Mean Black Cat Blues. Блюзовая архаика</b></a> (old-blues.ru) был восстановлен и временно проживает по адресу 
(<a href="https://blackcat.blues.ru">https://blackcat.blues.ru</a>)</p>
<p align="center"><a href="https://blackcat.blues.ru">
 <img src="/images/mean-black-cat-blues.gif" alt="Mean Black Cat Blues. Блюзовая архаика." />
</a>
</p>
<hr size="1">
{{ donate }}

    </td>
  </tr>
</table>

<script src="/static/js/calendar.js"></script>
<script src="/static/js/contact.js"></script>
</body>
</html>
