<!DOCTYPE html>
<html lang="ru">
<head>
<title>Поиск — Blues.Ru</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/images/bluesru.ico">
<link rel="stylesheet" href="/css/site.css">
<style>
  body { max-width: 900px; margin: 0 auto; padding: 0 1em; }
</style>
{{ ga_snippet | safe }}
</head>
<body bgcolor="#ffffff" text="#000000" link="#0000ff" vlink="#5511cc" alink="#00bb00">

<a href="/"><img src="/images/bluesru-logo.svg" width="120" height="120" border="0" alt="Blues.Ru" style="float:right"></a>
<h2><a href="/">Blues.Ru</a> &gt; Поиск</h2>

<script async src="https://cse.google.com/cse.js?cx=30c5e0388e38c4883"></script>
<div class="gcse-search"></div>

<hr size="1">
<p align="center">
{{ footer }}
</p>
</body>
</html>
