p {text-align:justify;text-indent:5%;margin-top:0pt;margin-bottom:0pt;margin-left:4%;margin-right:4%;}
p.p {text-align:left;text-indent:0pt;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;margin-right:0pt;}
p.podp {text-indent:0pt;margin-top:0pt;margin-bottom:0%;text-align:left;}
p.name {text-indent:0pt;margin-top:4%;margin-bottom:6%;text-align:center;font-weight:bold;font-size:130%;}
p.subname {text-indent:0pt;margin-top:4%;margin-bottom:2%;text-align:center;font-weight:bold;font-size:95%;}
p.z {text-indent:0pt;margin-top:4%;margin-bottom:2%;text-align:center;font-weight:bold;font-size:100%;}
p.epigraf {text-indent:0pt;text-align:justify;margin-top:10pt;margin-bottom:0pt;margin-right:4%;margin-left:60%;font-sizå:95%;}
p.epigrafp {text-indent:0pt;text-align:right;margin-top:0pt;margin-bottom:4%;margin-right:4%;margin-left:60%;font-size:80%;}
